<router-outlet></router-outlet>

<!--<div class="extra-section">-->
<!--<div>this is extra section</div>-->
<!--</div>-->

<div class="swiper-container-layer">
  <div class="img-layer">
    <div class="img"></div>
  </div>
  <swiper [config]="config" class="swiper-body">
    <div class="swiper-wrapper">
      <div class="swiper-slide" #slide1Ref>
        <div class="row" *ngIf="slide1Ref.classList.contains('swiper-slide-active')">
          <div class="col-md-6">
            <div class="inner-img">
              <div class="mobile-section">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="user-image-section">
                          <img src="assets/img/placeholder.png" width="100" class="animated slideInLeft"/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="total-section animated slideInRight">
                          <label>Total</label>
                          <span>2,000.00</span>
                        </div>
                        
                        <div class="total-section animated slideInUp">
                          <label>Total</label>
                          <span>2,000.00</span>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  
                  <div class="col-md-12 list-view">
                    <h2 class="animated slideInRight">An Unordered HTML List</h2>
                    <ul class="animated fadeInLeft">
                      <li>Coffee</li>
                      <li>Tea</li>
                      <li>Milk</li>
                    </ul>
                    
                    <h2 class="animated slideInLeft">An Ordered HTML List</h2>
                    <ol class="animated fadeInRight">
                      <li>Coffee</li>
                      <li>Tea</li>
                      <li>Milk</li>
                    </ol>
                  </div>
                  <div class="clearfix"></div>
  
                  <div class="col-md-12 list-view">
                    <h2 class="animated bounceInUp">An Unordered HTML List</h2>
                    <ul class="animated fadeInUpBig">
                      <li>Coffee</li>
                      <li>Tea</li>
                      <li>Milk</li>
                    </ul>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="content-div">
              <p class="animated pulse">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into
                electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release
                of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="swiper-slide" #slide2Ref>
        <div class="row" *ngIf="slide2Ref.classList.contains('swiper-slide-active')">
          <div class="col-md-6">
            <div class="inner-img">
              <div class="mobile-section">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="user-image-section">
                          <img src="assets/img/placeholder.png" width="100" class="animated slideInLeft"/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="total-section animated slideInRight">
                          <label>Total</label>
                          <span>2,000.00</span>
                        </div>
            
                        <div class="total-section animated slideInUp">
                          <label>Total</label>
                          <span>2,000.00</span>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="col-md-12 list-view">
                    <h2 class="animated slideInRight">An Unordered HTML List</h2>
                    <ul class="animated fadeInUp">
                      <li>Coffee</li>
                      <li>Tea</li>
                      <li>Milk</li>
                    </ul>
        
                    <h2 class="animated slideInLeft">An Ordered HTML List</h2>
                    <ol class="animated fadeInDownBig">
                      <li>Coffee</li>
                      <li>Tea</li>
                      <li>Milk</li>
                    </ol>
                  </div>
      
                  <div class="col-md-12 list-view">
                    <h2 class="animated bounceInUp">An Unordered HTML List</h2>
                    <ul class="animated fadeInUpBig">
                      <li>Coffee</li>
                      <li>Tea</li>
                      <li>Milk</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="content-div">
              <p class="animated pulse">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into
                electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release
                of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" #slide3Ref>
        <div class="row" *ngIf="slide3Ref.classList.contains('swiper-slide-active')">
          <div class="col-md-6">
            <div class="inner-img">
              <div class="mobile-section">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="user-image-section">
                          <img src="assets/img/placeholder.png" width="100" class="animated slideInLeft"/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="total-section animated slideInRight">
                          <label>Total</label>
                          <span>2,000.00</span>
                        </div>
            
                        <div class="total-section animated slideInUp">
                          <label>Total</label>
                          <span>2,000.00</span>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="col-md-12 list-view">
                    <h2 class="animated slideInRight">An Unordered HTML List</h2>
                    <ul class="animated fadeInUp">
                      <li>Coffee</li>
                      <li>Tea</li>
                      <li>Milk</li>
                    </ul>
        
                    <h2 class="animated slideInLeft">An Ordered HTML List</h2>
                    <ol class="animated fadeInDownBig">
                      <li>Coffee</li>
                      <li>Tea</li>
                      <li>Milk</li>
                    </ol>
                  </div>
      
                  <div class="col-md-12 list-view">
                    <h2 class="animated bounceInUp">An Unordered HTML List</h2>
                    <ul class="animated fadeInUpBig">
                      <li>Coffee</li>
                      <li>Tea</li>
                      <li>Milk</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="content-div">
              <p class="animated pulse">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into
                electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release
                of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="swiper-slide">Slide 4</div>-->
      <!--<div class="swiper-slide">Slide 5</div>-->
      <!--<div class="swiper-slide">Slide 6</div>-->
      <!--<div class="swiper-slide">Slide 7</div>-->
      <!--<div class="swiper-slide">Slide 8</div>-->
      <!--<div class="swiper-slide">Slide 9</div>-->
      <!--<div class="swiper-slide">Slide 10</div>-->
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
  </swiper>
</div>

<!--<div class="extra-section wow slideInLeft">-->
<!--<div>this is extra section</div>-->
<!--</div>-->
